[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true

[user]
  name = Andy Davila
  email = andy.davila@gmail.com

[core]
  editor = code --wait
